absl-py==1.0.0
aniso8601==9.0.1
astor==0.8.1
cached-property==1.5.2
click==8.0.3
cmake==3.22.1
dlib==19.22.1
Flask==2.0.2
Flask-JWT-Extended==4.3.1
Flask-PyMongo==2.3.0
Flask-RESTful==0.3.9
gast==0.5.3
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
imageio==2.13.5
importlib-metadata==4.10.0
itsdangerous==2.0.1
Jinja2==3.0.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
legacy==0.1.6
Markdown==3.3.6
MarkupSafe==2.0.1
numpy==1.21.5
opencv-python==4.5.5.62
passlib==1.7.4
Pillow==9.0.0
protobuf==3.19.1
PyJWT==2.3.0
pymongo==4.0.1
pytz==2021.3
six==1.16.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
torch==1.10.1
typing_extensions==4.0.1
Werkzeug==2.0.2
wrapt==1.13.3
zipp==3.7.0
